<div *ngIf="isLoading" class="text-center">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="container mt-5" >
  <div class="row">
    <div *ngIf="isAdmin" class="col-12 text-center mb-3">
      <button class="btn btn-primary" (click)="addNewDepartment()">Add Department</button>
    </div>
    <!-- Looping through each department -->
    <div *ngFor="let department of departments " class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ department.name }}</h5>
          <p class="card-text">{{ department.description }}</p>
          <p class="card-text">Number of levels: {{ department.level }}</p>
          <p class="card-text">Number of Courses: {{ department.numberOfCourses }}</p>
          <div class="text-center">
            <button class="btn btn-primary me-2" (click)="getIntoDepartment(department.id)">See Department</button>
            <button class="btn btn-danger" *ngIf="isAdmin" (click)="deleteDepartment(department.id)">Delete Department</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
