<form [formGroup]="resourceForm" (ngSubmit)="onSubmit()" class="text-light bg-white p-3 rounded">
  <div class="mb-3">
    <input type="text" formControlName="name" placeholder="Resource Name" class="form-control bg-secondary text-white">
  </div>

  <div class="mb-3">
    <input type="text" formControlName="type" placeholder="Resource Type" class="form-control bg-secondary text-white">
  </div>

  <div class="mb-3">
    <input type="text" formControlName="year" placeholder="Year" class="form-control bg-secondary text-white">
  </div>

  <div class="mb-3">
    <input type="file" (change)="onFileChange({event : $event})" class="form-control bg-secondary text-white">
  </div>

  <button type="submit" [disabled]="!resourceForm.valid" class="btn btn-light">Upload Resource</button>
</form>
