<form [formGroup]="resourceForm" (ngSubmit)="onSubmit()" class="container mt-4 card shadow-sm p-4 bg-white">
  <div class="mb-3">
    <label for="resourceName" class="form-label">Resource Name</label>
    <input type="text" formControlName="name" id="resourceName" placeholder="Resource Name" class="form-control">
  </div>

  <div class="mb-3">
    <label for="resourceType" class="form-label">Resource Type</label>
    <input type="text" formControlName="type" id="resourceType" placeholder="Resource Type" class="form-control">
  </div>

  <div class="mb-3">
    <label for="resourceYear" class="form-label">Year</label>
    <input type="text" formControlName="year" id="resourceYear" placeholder="Year" class="form-control">
  </div>

  <div class="mb-3">
    <label for="fileUpload" class="form-label">Upload File</label>
    <input type="file" (change)="onFileChange({event : $event})" id="fileUpload" class="form-control">
  </div>

  <div class="text-center">
    <button type="submit" [disabled]="!resourceForm.valid" class="btn btn-primary">Upload Resource</button>
  </div>
</form>
