<div class="container mt-4" *ngIf="getRole == 'Admin'">
  <h2 class="text-center mb-4">Add Department</h2>
  <form [formGroup]="departmentForm" (ngSubmit)="onSubmit()" class="card shadow-sm p-4">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">
      <div *ngIf="departmentForm.get('name')?.errors?.['maxlength'] && departmentForm.get('name')?.touched" class="text-danger">
        Name must be less than 20 characters.
      </div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" formControlName="description"></textarea>
    </div>
    <div class="mb-3">
      <label for="level" class="form-label">Level</label>
      <select class="form-control" id="level" formControlName="level">
        <option *ngFor="let lvl of levels" [value]="lvl">{{ lvl }}</option>
      </select>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" [disabled]="!departmentForm.valid">Add Department</button>
    </div>
  </form>
</div>
