<div class="container mt-5 mb-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Change Password</h2>
      <div class="card">
        <div class="card-body">
          <!-- Reactive Form -->
          <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
            <!-- Old Password Input -->
            <div class="form-group">
              <label for="oldPassword"><i class="fas fa-lock"></i> Old Password</label>
              <input formControlName="oldPassword" type="password" id="oldPassword" class="form-control">
            </div>
            <!-- New Password Input -->
            <div class="form-group">
              <label for="newPassword"><i class="fas fa-lock"></i> New Password</label>
              <input formControlName="newPassword" type="password" id="newPassword" class="form-control">
            </div>
            <!-- Confirm New Password Input -->
            <div class="form-group">
              <label for="confirmPassword"><i class="fas fa-lock"></i> Confirm New Password</label>
              <input formControlName="confirmPassword" type="password" id="confirmPassword" class="form-control">
              <div *ngIf="changePasswordForm.errors?.['mismatch'] && changePasswordForm.get('confirmPassword')?.touched" class="text-danger">
                Passwords do not match.
              </div>
            </div>
            <!-- Submit Button -->
            <button type="submit" class="btn btn-dark mt-2" [disabled]="!changePasswordForm.valid || changePasswordForm.errors?.['mismatch']">
              <i class="fas fa-check"></i> Change Password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- change-password.component.html -->
<!--<div class="container mt-4">
  <h2>Change Password</h2>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
    <div class="mb-3">
      <label for="oldPassword" class="form-label">Old Password</label>
      <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword">
    </div>
    <div class="mb-3">
      <label for="newPassword" class="form-label">New Password</label>
      <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm New Password</label>
      <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
</div>-->
