
<div class="container">
  <div class="row my-5">
    <div class="col-12 text-center">
      <h1>Welcome to KSU Society</h1>
      <p>Join the platform and get access to courses, resources, and more...</p>
    </div>
  </div>

  <div class="row align-items-center mb-5">
    <div class="col-md-6">
      <img src="../../assets/resources.png" class="img-fluid rounded" alt="Resources">
    </div>
    <div class="col-md-6">
      <h3>Resources</h3>
      <p>Explore a wide range of educational materials and resources to enhance your learning experience.</p>
      <p><small>Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="row align-items-center mb-5">
    <div class="col-md-6 order-md-2">
      <img src="../../assets/chats.png" class="img-fluid rounded" alt="Chats">
    </div>
    <div class="col-md-6 order-md-1">
      <h3>Chats</h3>
      <p>Connect with peers and professors to discuss courses, exchange ideas, and collaborate on projects.</p>
      <p><small>Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="row align-items-center mb-5">
    <div class="col-md-6">
      <img src="../../assets/approve.png" class="img-fluid rounded" alt="No Scam or Plagiarism">
    </div>
    <div class="col-md-6">
      <h3>No Scam or Plagiarism</h3>
      <p>Our platform ensures a safe and authentic environment for sharing and gaining knowledge.</p>
      <p><small>Last updated 3 mins ago</small></p>
    </div>
  </div>



  <div class="row">
    <div class="col-12 text-center">
      <div class="card text-bg-dark mb-3">
        <img  src="https://images.unsplash.com/photo-1618068656845-fa244b9f8bd4?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img" alt="Join Us at KSU Society" style="opacity: 0.6;">
        <div class="card-img-overlay d-flex flex-column justify-content-center">
          <h5 class="card-title text-center text-white fw-bold">Get Started with KSU Society</h5>
          <p class="card-text text-center text-white">Join a vibrant community of learners and access a wealth of resources and collaborative opportunities.</p>
          <div class="d-flex justify-content-center">
            <a routerLink="/register" class="btn btn-primary">Register Now</a>
          </div>
        </div>
      </div>
  </div>
</div>
