<div class="container mt-5 mb-3">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{ course.name }}</h2>
          <p class="card-text">{{ course.description }}</p>
          <p class="card-text">Level: {{ course.level }}</p>
          <!-- Add any additional course details here -->
          <a [routerLink]="['../']" class="btn btn-dark">Back to Courses</a>
        </div>
      </div>
    </div>
  </div>
</div>
