<div *ngIf="isLoading" class="text-center">
  <div class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!isLoading && course" class="container m-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">
          <h3 class="mb-0">{{ course.name }}</h3>
        </div>
        <div class="card-body">
          <h5 class="card-title">Course Slag: {{ course.slag }}</h5>
          <p class="card-text">Course hours: {{ course.hours }}</p>
          <p class="card-text">Course level: {{ course.level }}</p>
        </div>
        <div *ngIf="getRole == 'Supervisor'" class="edit-department">
          <button class="btn btn-dark m-3 float-end" (click)="editCourse()">Edit Course</button>
        </div>
      </div>
      <div *ngIf="isLogin" class="chat-section container mt-4">
        <h4>Department Chat</h4>
        <button class="btn btn-dark">Go To {{course.name}} Chat</button>
      </div>

      <h3 class="mt-3">Course Resources:</h3>
      <div class="row">
        <div class="col-md-6" *ngFor="let resource of resources">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ course.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ course.slag }}</h6>
              <p class="card-text">Hours: {{ course.hours }}</p>
              <p class="card-text">Level: {{ course.level }}</p>
              <button class="btn btn-dark">Go to Course Details</button>
              <div *ngIf="getRole == 'Supervisor'" class="edit-department">
                <button class="btn btn-dark m-3" >Delete Course</button>
              </div>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</div>


<ng-template #noCourse>
  <div class="container mt-5">
    <div class="alert alert-warning" role="alert">
      Course not found.
    </div>
  </div>
</ng-template>


