<div class="container mt-5 mb-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">User Profile</h2>
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label for="firstName">First Name:</label>
            <input id="firstName" class="form-control" [value]="user.first_name" disabled>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input id="lastName" class="form-control" [value]="user.last_name" disabled>
          </div>
          <div class="form-group">
            <label for="email">Role:</label>
            <input id="email" class="form-control" [value]="user.role" disabled>
          </div>
<!--          <div class="form-group">-->
<!--            <label for="email">Password:</label>-->
<!--            <input id="password" class="form-control" value="******" disabled>-->
<!--          </div>-->
<!--          <div class="form-group" *ngIf="isEditing">-->
<!--            <label for="email">Confirm Password:</label>-->
<!--            <input id="passwordConfirmation" class="form-control" [value]="user.password_confirmation" disabled>-->
<!--          </div>-->
          <div class="text-center mt-4" *ngIf="!isEditing">
            <button class="btn btn-primary" (click)="editProfile()">Change Password</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
