<div class="container m-2">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form (ngSubmit)="onSubmit()" class="mb-3 border p-4 rounded bg-light">
        <h2 class="text-center mb-4">Reset Password</h2>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" [(ngModel)]="email" name="email" id="email" class="form-control" placeholder="Enter your email" required>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">New Password</label>
          <input type="password" [(ngModel)]="password" name="password" id="password" class="form-control" placeholder="Create new password" required>
        </div>

        <div class="mb-3">
          <label for="passwordConfirmation" class="form-label">Confirm Password</label>
          <input type="password" [(ngModel)]="passwordConfirmation" name="passwordConfirmation" id="passwordConfirmation" class="form-control" placeholder="Confirm new password" required>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
