<div class="container m-2">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form (ngSubmit)="onSubmit()" class="mb-3 border p-4 rounded">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" [(ngModel)]="email" name="email" id="email" class="form-control" placeholder="Email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">New Password</label>
          <input type="password" [(ngModel)]="password" name="password" id="password" class="form-control" placeholder="New Password" required>
        </div>
        <div class="mb-3">
          <label for="passwordConfirmation" class="form-label">Confirm Password</label>
          <input type="password" [(ngModel)]="passwordConfirmation" name="passwordConfirmation" id="passwordConfirmation" class="form-control" placeholder="Confirm Password" required>
        </div>
        <button type="submit" class="btn btn-dark">Reset Password</button>
      </form>
    </div>
  </div>
</div>
